<div class="container mb-5 pt-5 pb-5">
  <h2 class="text-center text-uppercase">{{title}}</h2>
  <div class="divider-custom divider-light">
    <div class="divider-custom-line"></div>
    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
    <div class="divider-custom-line"></div>
  </div>

  <div class="row">
    <div class="col-lg-4 ml-auto"><p class="lead">I have over ten years of experience working in Web Development. Currently, I am working as an Application Developer, developing and maintaining in-house applications and create and manage API’s using Laravel for backend and Angular for frontend.
    </p></div>
    <div class="col-lg-4 mr-auto"><p class="lead">Previously, I worked as a Digital Project Manager, where I manage projects using Scrum methodology and completed my Scrum Master certification.</p></div>
  </div>

  <div class="text-center mt-4">
    <a class="btn btn-xl btn-outline-light" target="_blank" href="https://www.linkedin.com/in/aprilksmith/">
      <mdb-icon fab icon="linkedin" class="mr-2"></mdb-icon>
      LinkedIn Profile
    </a>
  </div>

</div>
